body {
  background-color: beige;
  background-image: url("pinkbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  color: hotpink;
  text-decoration: none;
}
a:hover {
  color: black;
  font-weight: bold;
}
p a {
  color: orange;
}

p {
  font-family: sans-serif;
}
ul {
  list-style-type: armenian;
}
ol {
  list-style-type: lower-latin;
}
