body {
  background-color: lavender;
  background-image: url("images/flora1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.navlinks li {
background: skyblue;
background-position: center;
font-family: 'Montserrat', sans-serif;


}

.left, .right {

background: pink;
font-family: 'Notable', sans-serif;
}


}
ul, li {


}
.photo {

}
a {
  color: white;
}
a:hover {
  color: black;
}
.pirates {

}
.Home {

  font-family: 'Notable', sans-serif;
}
.prince {

}
h1 {
  
}
h2 {

font-family: 'Montserrat', sans-serif;

}
p {
  background-color: white;

}
