body {
  background-color: lavender;
  background-image: url("images/flora1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
a {
  color: purple;
  font-family: serif;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
color: green;
}
.mainp {
  color: black;
font-family: serif;
padding: 50pt
}

#maintitle {
  color: black;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 40pt;
}
h2 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 25pt;
}

.bullets {
list-style-type: circle;
}

.days {
  color: purple;
}

.addy {
  color: black;
  font-size: 12pt;
}
