body {
margin: 0px;
padding: 0px;
}
.wrapper {
display: block;
background: #CCCCCC;
width: 1000px;
min-height: 500px;
margin-left: auto;
margin-right: auto;

}
nav {
  display: block;
  background: pink;

}
.navlinks {
  list-style-type: none;
height: 50px;
}
.navlinks li {
  display: inline;
}
.navlinks a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px
}
.left {
  display: inline-block;
  background: skyblue;
  width: 200px;
  min-height: 500px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 30px;
  margin: 20px;
}
.right {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  min-height: 500px;
  background: #333333;
  color: white;
  padding: 30px;
  margin: 20px;
  margin-left: 0px;
}
footer {
  display: block;
  background: black;
  color: white;
  padding: 20px;
}
